* {
	margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial;
    margin: 0;
	color: white;
	background-color: #2a2a2a;
}
img {
    vertical-align: middle;
}
ul {
	padding: 0;
}
.HungBokGames {
    This source code is produced by HungBok.
}
html {
	scroll-behavior: smooth;
	background: url(images/bg2.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.HungBokGames {
	This source code is produced by HungBok.
}
.title,
.title2,
.title3,
.title4 {
	font-family: 'Ramabhadra';
	font-size: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 250px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 5px;
	color: white;
	text-shadow: 1px 1px 5px black;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-drag: none;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.title:after,
.title2:after {
	width: 100%;
	min-height: 250px;
	margin-bottom: 5px;
	content: " ";
	background-image: url(../image/bg2.png);
	background-attachment: fixed;
	background-position: center;
	opacity: 1.5;
	position: absolute;
	z-index: -2;
	filter: blur(5px);
	overflow: hidden;
	object-fit: fill;
}
.HungBokGames {
	This source code is produced by HungBok.
}
.rolling-title {
	color: white;
	background-color: #121212;
}
.HungBokGames {
	This source code is produced by HungBok.
}
.title3:after,
.title4:after {
	width: 100%;
	min-height: 250px;
	margin-bottom: 5px;
	content: " ";
	background-image: url();
	background-attachment: fixed;
	background-position: center;
	opacity: 1.5;
	position: absolute;
	z-index: -2;
	filter: blur(5px);
	overflow: hidden;
	object-fit: fill;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.title-line {
	height: 10px;
	background-color: #1b1b1b;
	border: 0px;
	margin-top: 5px;
	box-shadow: 1px 1px 5px black;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.title-line2 {
	height: 10px;
	background-color: red;
	border: 0px;
	margin-top: 5px;
	box-shadow: 1px 1px 5px black;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.section {
	margin: 5px;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-drag: none;
}
.HungBokGames {
	This source code is produced by HungBok.
}
.section-text {
	font-family: 'Do Hyeon';
	font-size: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	color: #2f2f2f;
	background-color: #1b1b1b;
	padding-top: 15px;
	padding-bottom: 15px;
	margin: 0 auto;
	width: 934px;
	height: 150px;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 1px 1px 5px black;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.sections {
	margin: 5px;
	position: relative;
	z-index: 2;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-drag: none;
}
.HungBokGames {
	This source code is produced by HungBok.
}
.sections-text {
	font-family: 'Do Hyeon';
	font-size: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	color: white;
	background-color: #1b1b1b;
	padding-top: 15px;
	padding-bottom: 15px;
	margin: 0 auto;
	width: 934px;
	height: 150px;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 1px 1px 5px black;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.section-content {
	margin: 5px;
	position: relative;
	top: -10px;
	z-index: 1;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-drag: none;
}
.HungBokGames {
	This source code is produced by HungBok.
}
.section-content-title {
	text-align: center;
	vertical-align: middle;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.section-content-description {
	font-family: 'Do Hyeon';
	color: white;
	box-shadow: 1px red;
	word-break: keep-all;
	text-align: center; 
	vertical-align: middle;
	background-color: #2f2f2f;
	border-radius: 0px 0px 5px 5px;
	display: inline-block;
	margin: 0 auto;
	width: 934px;
	height: 300px;
	box-shadow: 1px 1px 5px black;
	
}
.HungBokGames {
    This source code is produced by HungBok.
}
.small-square-platforms {
	filter: brightness(1000%);
}
.section-content-text {
	text-align: center;
	vertical-align: middle;
	width: 300px;
	height: 150px;
	padding-top: 20px;
	display: inline-block;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.small-square-platforms {
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-drag: none;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.scroll-container {
	left: 50%;
	transform: translate(-50%);
	text-align: center;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #1b1b1b;
	padding-top: 5px;
	padding-bottom: 5px;
	position: absolute;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.scroll-container-down {
	left: 50%;
	transform: translate(-50%, -100%);
	text-align: center;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #1b1b1b;
	padding-top: 5px;
	padding-bottom: 5px;
	position: absolute;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.game-card {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-drag: none;
}
.HungBokGames {
	This source code is produced by HungBok.
}
.menu {
	font-family: 'Open Sans';
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 0 auto;
	width: 934px;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-drag: none;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.menu-links {
	font-family: 'Open Sans';
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 0 auto;
	width: 934px;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-drag: none;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.menu2 {
	font-family: 'Open Sans';
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 0 auto;
	margin-top: 100px;
	margin-bottom: 100px;
	width: 934px;
	overflow: hidden;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-drag: none;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.menu-button {
	display: inline-block;
	font-family: 'Open Sans';
	width: 200px;
	color: white;
	margin: 5px;
	margin-left: 25px;
	margin-right: 25px;
	word-break: keep-all;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.menu-button-platform {
	display: inline-block;
	font-family: 'Open Sans';
	width: 90px;
	color: black;
	margin: 5px;
	margin-left: 25px;
	margin-right: 25px;
	word-break: keep-all;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.menu-button2 {
	display: inline-block;
	font-family: 'Open Sans';
	width: 250px;
	color: black;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	word-break: keep-all;
}
.HungBokGames {
	This source code is produced by HungBok.
}
.menu-title {
	font-size: 14px;
	font-family: 'Open Sans';
	text-transform: uppercase;
	padding: 15px;
	border-radius: 5px 5px 5px 5px;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.menu-title:hover {
	color: black;
	background-color: whitesmoke;
	opacity: 0.75;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.menu-title-platform {
	font-size: 14px;
	font-family: 'Open Sans';
	text-transform: uppercase;
	padding: 15px;
	border-radius: 5px 5px 5px 5px;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.menu-title-platform:hover {
	color: black;
	background-color: white;
	opacity: 0.75;
	box-shadow: 1px 1px 2.5px black;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.menu-title-platform:hover .small-square-platforms {
	filter: brightness(100%);
}
.menu-lang {
	height: 10px;
	border: 1px solid black;
	pointer-events: all;
	cursor: pointer;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-drag: none;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.more {
	font-family: 'Open Sans';
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 0 auto;
	width: 934px;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-drag: none;
}
.HungBokGames {
	This source code is produced by HungBok.
}
.more-button {
	display: inline-block;
	font-family: 'Open Sans';
	width: 200px;
	color: black;
	margin: 5px;
	margin-left: 100px;
	margin-right: 100px;
	word-break: keep-all;
	border: 1px solid black;
	border-radius: 5px 5px 5px 5px;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.inc-more-button {
	display: inline-block;
	font-family: 'Open Sans';
	color: white;
	width: 500px;
	margin: 5px;
	margin-left: 100px;
	margin-right: 100px;
	word-break: keep-all;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	border-radius: 5px 5px 5px 5px;
}
.inc-more-button2 {
	display: inline-block;
	font-family: 'Open Sans';
	color: white;
	margin: 5px;
	margin-left: 100px;
	margin-right: 100px;
	word-break: keep-all;
	border-radius: 5px 5px 5px 5px;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.no-more-button {
	display: inline-block;
	font-family: 'Open Sans';
	width: 200px;
	color: black;
	margin: 5px;
	margin-left: 100px;
	margin-right: 100px;
	word-break: keep-all;
	border-radius: 5px 5px 5px 5px;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.more-button:hover {
	border: 1px solid gray;
	opacity: 0.75;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.more-title {
	font-size: 14px;
	font-family: 'Open Sans';
	text-transform: uppercase;
	padding: 15px;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.inc-more-title {
	font-size: 14px;
	font-family: 'Open Sans';
	text-transform:none;
	padding: 15px;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.inc-more-title2 {
	font-size: 14px;
	font-family: 'Open Sans';
	text-transform:none;
	padding: 15px;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.card {
	display: inline-block;
	font-family: 'Open Sans';
	width: 300px;
	color: black;
	margin: 5px;
	box-shadow: 1px red;
	word-break: keep-all;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-drag: none;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.card-hidden {
	position: absolute;
	visibility: hidden;
	left: 50%;
	transform: translate(-50%);
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-drag: none;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.card:hover {
	opacity: 0.75;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.link {
	width: 0px;
	height: 0px;
	margin: 0px;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.weblink {
	vertical-align: 0px;
}
.HungBokGames {
	This source code is produced by HungBok.
}
.link:link {
	color: white;
	text-decoration: none;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.link:visited {
	color: black;
	text-decoration: none;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.link:hover {
	color: black;
	text-decoration: none;
}
.HungBokGames {
    This source code is produced by HungBok.
}
#btn_popup_close:link {
	color: black;
	text-decoration: none;
}
.HungBokGames {
    This source code is produced by HungBok.
}
#btn_popup_close:visited {
	color: black;
	text-decoration: none;
}
.HungBokGames {
    This source code is produced by HungBok.
}
#btn_popup_close:hover {
	color: black;
	text-decoration: none;
	opacity: 0.75;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.card-title {
	font-size: 24px;
	font-family: 'Noto Sans';
	text-transform: uppercase;
	margin: 15px;
	font-weight: bold;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.card-title1 {
	font-size: 14px;
	font-family: 'Noto Sans';
	text-transform: uppercase;
	margin: 12.5px;
	margin-left: 80px;
	margin-right: 80px;
	font-weight: bold;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.card-title2 {
	font-size: 14px;
	font-family: 'Noto Sans';
	text-transform: uppercase;
	margin: 12.5px;
	margin-left: 40px;
	margin-right: 40px;
	font-weight: bold;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.card-title3 {
	font-size: 14px;
	font-family: 'Noto Sans';
	text-transform: uppercase;
	margin: 12.5px;
	margin-left: 10px;
	margin-right: 10px;
	font-weight: bold;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.card-title4 {
	font-size: 12px;
	font-family: 'Noto Sans';
	text-transform: uppercase;
	margin: 14.5px;
	margin-left: 10px;
	margin-right: 10px;
	font-weight: bold;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.card-date {
	font-family: 'Open Sans';
	color: black;
	text-transform: capitalize;
	margin: 0;
	font-weight: bold;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.section-date {
	font-family: 'Do Hyeon';
	color: black;
	text-transform: capitalize;
	margin: 0;
	font-weight: none;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.early-access {
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: skyblue;
	font-weight: bold;
	border-radius: 3px 3px 3px 3px;
	height: 20px;
	vertical-align: middle;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-drag: none;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.card-image {
	border-radius: 5px 5px 5px 5px;
	width: 100%;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.card-platforms {
	width: 100%;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 250px;
	text-align: center;
	bottom: 0px;
	color: white;
	background-color: #121212;
	text-transform: capitalize;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-drag: none;
}
.HungBokGames {
	This source code is produced by HungBok.
}
.footer2 {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 250px;
	text-align: center;
	position: absolute;
	bottom: 0px;
	color: white;
	background-color: #1b1b1b;
	left: 50%;
	transform: translate(-50%);
	text-transform: capitalize;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-drag: none;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.foter-style {
	display: block;
}
.HungBokGames {
	This source code is produced by HungBok.
}
.foter-menu {
	font-family: 'Open Sans';
}
.HungBokGames {
    This source code is produced by HungBok.
}
.footer-developer {
	margin-top: 50px;
	margin-bottom: 50px;
	font-family: 'Open Sans';
}
.HungBokGames {
    This source code is produced by HungBok.
}
.top {
	display: scroll;
	position: fixed;
	right: 5%;
	bottom: 4%;
	z-index: 2;
	filter: brightness(1000%);
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-drag: none;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.united_states,
.japan {
	height: 10px;
	border: 1px solid black;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-drag: none;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.card-date div {
    position: relative;
    display: inline-block;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.section-date div {
    position: relative;
    display: inline-block;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.card-title-untitle div {
    position: relative;
    display: inline-block;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.card-title-downLoadable-contents div {
    position: relative;
    display: inline-block;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.card-date-us,
.card-date-jp,
.card-date-early {
    display: block;
    width: auto;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.card-title-untitled {
    display: block;
    width: auto;
	font-size: 24px;
	font-family: 'Noto Sans';
	text-transform: uppercase;
	margin: 15px;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 5px 5px 5px 5px;
	background-color: #2f2f2f;
	font-weight: bold;
	color: white;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.card-title-untitled1 {
    display: block;
    width: auto;
	font-size: 14px;
	font-family: 'Noto Sans';
	text-transform: uppercase;
	margin: 12.5px;
	margin-left: 80px;
	margin-right: 80px;
	border-radius: 5px 5px 5px 5px;
	background-color: #2f2f2f;
	font-weight: bold;
	color: white;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.card-title-untitled2 {
    display: block;
    width: auto;
	font-size: 14px;
	font-family: 'Noto Sans';
	text-transform: uppercase;
	margin: 12.5px;
	margin-left: 40px;
	margin-right: 40px;
	border-radius: 5px 5px 5px 5px;
	background-color: #2f2f2f;
	font-weight: bold;
	color: white;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.card-title-untitled3 {
    display: block;
    width: auto;
	font-size: 14px;
	font-family: 'Noto Sans';
	text-transform: uppercase;
	margin: 12.5px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 5px 5px 5px 5px;
	background-color: #2f2f2f;
	font-weight: bold;
	color: white;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.card-title-untitled4 {
    display: block;
    width: auto;
	font-size: 12px;
	font-family: 'Noto Sans';
	text-transform: uppercase;
	margin: 14.5px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 5px 5px 5px 5px;
	background-color: #2f2f2f;
	font-weight: bold;
	color: white;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.card-title-downLoadable-content {
    display: block;
    width: auto;
	font-size: 24px;
	font-family: 'Noto Sans';
	text-transform: uppercase;
	margin: 15px;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 5px 5px 5px 5px;
	background-color: #a655b2;
	font-weight: bold;
	color: white;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.card-title-downLoadable-content1 {
    display: block;
    width: auto;
	font-size: 14px;
	font-family: 'Noto Sans';
	text-transform: uppercase;
	margin: 12.5px;
	margin-left: 80px;
	margin-right: 80px;
	border-radius: 5px 5px 5px 5px;
	background-color: #a655b2;
	font-weight: bold;
	color: white;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.card-title-downLoadable-content2 {
    display: block;
    width: auto;
	font-size: 14px;
	font-family: 'Noto Sans';
	text-transform: uppercase;
	margin: 12.5px;
	margin-left: 40px;
	margin-right: 40px;
	border-radius: 5px 5px 5px 5px;
	background-color: #a655b2;
	font-weight: bold;
	color: white;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.card-title-downLoadable-content3 {
    display: block;
    width: auto;
	font-size: 14px;
	font-family: 'Noto Sans';
	text-transform: uppercase;
	margin: 12.5px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 5px 5px 5px 5px;
	background-color: #a655b2;
	font-weight: bold;
	color: white;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.card-title-downLoadable-content4 {
    display: block;
    width: auto;
	font-size: 12px;
	font-family: 'Noto Sans';
	text-transform: uppercase;
	margin: 14.5px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 5px 5px 5px 5px;
	background-color: #a655b2;
	font-weight: bold;
	color: white;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.additional-description {
  display: none;
  position: absolute;
  width: 284px;
  padding: 8px;
  top: 35px;
  z-index: 999999999;
  left: 50%;
  transform: translate(-50%);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;  
  border-radius: 5px;
  background: black;
  color: white;
  font-size: 12px;
  vertical-align: middle;
  text-transform: none;
  font-weight: normal;
  opacity: unset;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.additional-description:after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: black;
  border-width: 10px;
  vertical-align: middle;
  pointer-events: none;
  content: " ";
  opacity: unset;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.section-additional-description {
  display: none;
  position: absolute;
  width: 284px;
  padding: 8px;
  top: 35px;
  z-index: 999999999;
  left: 50%;
  transform: translate(-50%);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;  
  border-radius: 5px;
  background: black;
  color: white;
  font-size: 12px;
  vertical-align: middle;
  text-transform: none;
  font-weight: normal;
  opacity: 0.75;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.section-additional-description:after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: black;
  border-width: 10px;
  vertical-align: middle;
  pointer-events: none;
  content: " ";
  opacity: unset;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.additional-description-early {
  display: none;
  position: absolute;
  width: 284px;
  padding: 8px;
  top: 35px;
  left: 50%;
  transform: translate(-50%);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;  
  border-radius: 5px;
  background: black;
  color: white;
  font-size: 12px;
  vertical-align: middle;
  text-transform: none;
  font-weight: normal;
  opacity: unset;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.additional-description-early:after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: black;
  border-width: 10px;
  pointer-events: none;
  content: " ";
  opacity: unset;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.additional-description-untitled {
  display: none;
  position: absolute;
  width: 284px;
  padding: 8px;
  top: 65px;
  left: 50%;
  z-index: 5;
  transform: translate(-50%);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;  
  border-radius: 5px;
  background: black;
  color: white;
  font-size: 12px;
  vertical-align: middle;
  text-transform: none;
  font-weight: normal;
  opacity: unset;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.additional-description-untitled:after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0;
  height: 0;
  z-index: 5;
  margin-left: -10px;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: black;
  border-width: 10px;
  pointer-events: none;
  content: " ";
  opacity: unset;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.additional-description-downLoadable-content {
  display: none;
  position: absolute;
  width: 284px;
  padding: 8px;
  top: 65px;
  left: 50%;
  z-index: 5;
  transform: translate(-50%);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;  
  border-radius: 5px;
  background: black;
  color: white;
  font-size: 12px;
  vertical-align: middle;
  text-transform: none;
  font-weight: normal;
  opacity: unset;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.additional-description-downLoadable-content:after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0;
  height: 0;
  z-index: 5;
  margin-left: -10px;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: black;
  border-width: 10px;
  pointer-events: none;
  content: " ";
  opacity: unset;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.card-date-us:hover + .additional-description {
  display: block;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.card-date-jp:hover + .additional-description {
  display: block;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.card-date-us:hover + .section-additional-description {
  display: block;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.card-date-jp:hover + .section-additional-description {
  display: block;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.card-date-early:hover + .additional-description-early {
  display: block;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.card-title-untitled:hover + .additional-description-untitled {
  display: block;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.card-title-untitled1:hover + .additional-description-untitled {
  display: block;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.card-title-untitled2:hover + .additional-description-untitled {
  display: block;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.card-title-untitled3:hover + .additional-description-untitled {
  display: block;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.card-title-untitled4:hover + .additional-description-untitled {
  display: block;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.card-title-downLoadable-content:hover + .additional-description-downLoadable-content {
  display: block;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.card-title-downLoadable-content1:hover + .additional-description-downLoadable-content {
  display: block;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.card-title-downLoadable-content2:hover + .additional-description-downLoadable-content {
  display: block;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.card-title-downLoadable-content3:hover + .additional-description-downLoadable-content {
  display: block;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.card-title-downLoadable-content4:hover + .additional-description-downLoadable-content {
  display: block;
}
.HungBokGames {
    This source code is produced by HungBok.
}
/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  width: 934px;
  left: 50%;
  transform: translate(-50%);
}

/* Hide the images by default */
.mySlides {
  display: none;
  background-color: black;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}
.row {
	background-color: black;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
  background-color: black;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
.video {
	position: relative;
	padding-bottom: 56.25%;
	width: 100%;
	overflow: hidden;
}
iframe {
	position: absolute;
	width: 100%;
	height: 100%;
}
.play-button {
	position: absolute;
	left: 8.5%;
	transform: translate(-50%);
	top: 554.133px; opacity: 1;
	cursor: pointer;
}
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
    font-weight: bold;
	top: 0;
	background-color: black;
	opacity: 0.75;
}
.popup_panel {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-drag: none;
}
.popup_panel div.popup_bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .5;
	filter: alpha(opacity=50);
}
.popup_panel div.popup_content {
	position: relative;
	top: 25%;
	left: 50%;
	transform: translate(-50%);
    font-weight: bold;
	font-size: 24px;
    cursor: default;
	width: 600px;
	height: 376px;
	background-color: white;
	border-radius: 5px 5px 5px 5px;
}
.popup-text {
	position: absolute;
	justify-content: center;
	align-items: center;
	text-align: center;
	top: 30%;
	padding: 30px;
}
.popup-close {
	width: 50px;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%);
	background-color: white;
	opacity: 0.75;
	padding: 10px;
	border-radius: 50%;
	text-align: center;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-drag: none;
}
.rolling_panel {
	position: relative;
	width: 934px;
	height: 525.375px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	left: 50%;
	transform: translate(-50%);
	border-radius: 5px 5px 5px 5px;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-drag: none;
}
#prev,
#next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
	text-decoration: none;
}
#next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
#prev:hover,
#next:hover {
    background-color: rgba(208, 208, 208, 0.8);
}
.HungBokGames {
    This source code is produced by HungBok.
}
@media(min-width: 1000px) {
	.game-card {
		width: 1000px;
	}
}
.HungBokGames {
    This source code is produced by HungBok.
}
@media(min-width: 700px) {
	.menu-links {
		width: 700px;
	}
}
.HungBokGames {
    This source code is produced by HungBok.
}
@media(max-width: 1200px) {
	.title2, .title3 {
		font-size: 40px;
	}
}
.HungBokGames {
	This source code is produced by HungBok.
}
@media(max-width: 1000px) {
	.section-text,
	.sections-text,
	.menu,
	.menu2,
	.more,
	.more-card {
		width: 100%;
		overflow: hidden;
	}
	.rolling-title:after {
		min-height: 0;
	}
	.mySlides {
		background-color: black;
	}
	.title,
	.title4 {
		font-size: 40px;
	}
	.container {
		width: 100%;
		overflow: hidden;
	}
	.inc-more-button2 {
		width: 100%;
		height: auto;
		overflow: hidden;
		margin: 0 auto;
	}
	.rolling-title,
	.container,
	.rolling_panel,
	.mySlides {
		width: auto;
		height: auto;
		border-radius: 0px;
	}
	.play-button {
		top: 90%;
	}
	.section-content-description {
		width: 100%;
	}
}
.HungBokGames {
    This source code is produced by HungBok.
}
@media(max-width: 921px) {
	.section-content-description {
		height: 600px;
	}
}
.HungBokGames {
    This source code is produced by HungBok.
}
@media(max-width: 900px) {
	.play-button {
		top: 89%;
	}
}
.HungBokGames {
    This source code is produced by HungBok.
}
@media(max-width: 720px) {
	.inc-more-title2 {
		margin-left: 100px;
		margin-right: 100px;
	}
	.sections-title {
		font-size: 24px;
	}
	.menu-links {
		width: 100%;
		overflow: hidden;
	}
}
.HungBokGames {
    This source code is produced by HungBok.
}
@media(max-width: 615px) {
	.section-content-description {
		height: 925px;
	}
}
.HungBokGames {
    This source code is produced by HungBok.
}
@media(max-width: 600px) {
	.play-button {
		top: 88%;
	}
}
.HungBokGames {
    This source code is produced by HungBok.
}
@media(max-width: 500px) {
	.inc-more-title2 {
		margin-left: 200px;
		margin-right: 200px;
	}
	.play-button {
		top: 87%;
	}
	.popup-text {
		font-size: 16px;
		left: 50%;
		transform: translate(-50%);
	}
	.sections-title {
		font-size: 16px;
	}
}
.HungBokGames {
    This source code is produced by HungBok.
}
@media(max-width: 450px) {
	.play-button {
		top: 86%;
	}
}
.HungBokGames {
    This source code is produced by HungBok.
}
@media(max-width: 400px) {
	.play-button {
		top: 85%;
	}
}
.HungBokGames {
    This source code is produced by HungBok.
}
@media(max-width: 350px) {
	.play-button {
		visibility: hidden;
	}
}
.HungBokGames {
    This source code is produced by HungBok.
}
@media(max-width: 330px) {
	.card {
		width: 95%;
	}
	.section-content-text {
		width: 100%;
	}
}
.HungBokGames {
    This source code is produced by HungBok.
}
@media(max-height: 565px) {
	.footer2 {
		position: relative;
	}
}