.card-container {
    display: block;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-drag: none;
}
.card-container-game-crad {
    display: inline-block;
    margin: 5px;
    text-align: left;
    position: relative;
}
.card-container-game-crad-hidden {
	position: absolute;
	visibility: hidden;
	left: 50%;
	transform: translate(-50%);
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-drag: none;
}
.game-card-figure {
    overflow: hidden;
    position: relative;
    border-radius: 5px 5px 5px 5px;
    display: block;
}
.game-card-figure:hover .game-card-image {
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
}
.game-card-figure .game-card-image {
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
    max-width: 100%;
	width: 300px;
    display: block;
    position: relative;
    border-radius: 5px 5px 5px 5px;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-drag: none;
}
.game-card-figcaption {
    height: 100px;
    width: 100%;
    top: auto;
    bottom: 0;
    opacity: 0;
    position: absolute;
    left: 0;
    padding-left: 10px;
    padding-right: 10px;
    background: #e6c300;
    color: black;
    display: block;
    border-radius: 5px 5px 5px 5px;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
    transition: transform 0.4s, opacity 0.1s 0.3s;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-drag: none;
}
.game-card-figure:hover .game-card-figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}
.game-card-title {
    font-family: 'Noto Sans';
    text-transform: uppercase;
    position: absolute;
	line-height: 100%;
    margin: 10px;
    padding: 0;
	top: 5px;
    color: black;
    font-size: 14px;
    display: block;
    font-weight: bold;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-drag: none;
}
.game-card-date {
    font-family: 'Open Sans';
    text-transform: capitalize;
    position: absolute;
    margin: 10px;
    padding: 0;
	bottom: 25px;
	right: 0px;
    color: black;
    font-size: 12px;
    font-weight: bold;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-drag: none;
}
.game-card-platform {
    opacity: 0.25;
    position: absolute;
    width: 20px;
    bottom: 10px;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
    max-width: 100%;
    display: block;
    border-radius: 5px 5px 5px 5px;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-drag: none;
}
.game-card-figcaption-dlc {
    height: 100px;
    width: 100%;
    top: auto;
    bottom: 0;
    opacity: 0;
    position: absolute;
    left: 0;
    padding-left: 10px;
    padding-right: 10px;
    background: #a655b2;
    color: black;
    display: block;
    border-radius: 5px 5px 5px 5px;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
    transition: transform 0.4s, opacity 0.1s 0.3s;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-drag: none;
}
.game-card-figure:hover .game-card-figcaption-dlc {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}
.game-card-figcaption-dlc-text {
    height: 100px;
    width: 100%;
    top: auto;
    bottom: 0;
    opacity: 0;
    position: absolute;
    left: 0;
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
    display: block;
    opacity: 0.75;
    border-radius: 5px 5px 5px 5px;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
    transition: transform 0.4s, opacity 0.1s 0.3s;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-drag: none;
}
.game-card-figure:hover .game-card-figcaption-dlc-text {
	-webkit-transform: translateY(-75%);
	-moz-transform: translateY(-75%);
	-ms-transform: translateY(-75%);
	transform: translateY(-75%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}
.game-card-figcaption-western-text {
    height: 100px;
    width: 100%;
    top: auto;
    bottom: 0;
    opacity: 0;
    position: absolute;
    left: 0;
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
    display: block;
    opacity: 0.75;
    border-radius: 5px 5px 5px 5px;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
    transition: transform 0.4s, opacity 0.1s 0.3s;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-drag: none;
}
.game-card-figure:hover .game-card-figcaption-western-text {
	-webkit-transform: translateY(-75%);
	-moz-transform: translateY(-75%);
	-ms-transform: translateY(-75%);
	transform: translateY(-75%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}
.game-card-figcaption-eastern-text {
    height: 100px;
    width: 100%;
    top: auto;
    bottom: 0;
    opacity: 0;
    position: absolute;
    left: 0;
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
    display: block;
    opacity: 0.75;
    border-radius: 5px 5px 5px 5px;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
    transition: transform 0.4s, opacity 0.1s 0.3s;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-drag: none;
}
.game-card-figure:hover .game-card-figcaption-eastern-text {
	-webkit-transform: translateY(-75%);
	-moz-transform: translateY(-75%);
	-ms-transform: translateY(-75%);
	transform: translateY(-75%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}
.game-card-title-dlc-text {
    font-family: 'Noto Sans';
    text-transform: none;
    position: absolute;
	line-height: 100%;
    margin: 10px;
    padding: 0;
	top: 20px;
    color: white;
    font-size: 14px;
    display: block;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.game-card-title-dlc-text::before {
    opacity: 1;
    content: 'This is a type of DownLoadable Content or Update, not a main game.';
}
.game-card-title-western-text {
    font-family: 'Noto Sans';
    text-transform: none;
    position: absolute;
	line-height: 100%;
    margin: 10px;
    padding: 0;
	top: 10px;
    color: white;
    font-size: 14px;
    display: block;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.game-card-title-western-text::before {
    opacity: 1;
    content: 'This release date is the western or worldwide release of a previously regional exclusive game.';
}
.game-card-title-eastern-text {
    font-family: 'Noto Sans';
    text-transform: none;
    position: absolute;
	line-height: 100%;
    margin: 10px;
    padding: 0;
	top: 25px;
    color: white;
    font-size: 14px;
    display: block;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.game-card-title-eastern-text::before {
    opacity: 1;
    content: 'The release date is for Japan or Asia only.';
}