.arabic {
    font-size: 14px;
    font-family: 'Open Sans';
    text-transform :uppercase;
    padding: 15px;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    -webkit-filter : grayscale(100%);
}
.HungBokGames {
    تم إنتاج شفرة المصدر هذه بواسطة HungBok.
}
.arabic1:hover {
    color: black;
    background-color: lightgray;
    opacity: 0.75;
}
.HungBokGames {
    تم إنتاج شفرة المصدر هذه بواسطة HungBok.
}
.bulgarian {
    font-size: 14px;
    font-family: 'Open Sans';
    text-transform :uppercase;
    padding: 15px;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    -webkit-filter : grayscale(100%);
}
.HungBokGames {
    Този изходен код е произведен от HungBok.
}
.bulgarian1:hover {
    color: black;
    background-color: lightgray;
    opacity: 0.75;
}
.HungBokGames {
    Този изходен код е произведен от HungBok.
}
.czech {
    font-size: 14px;
    font-family: 'Open Sans';
    text-transform :uppercase;
    padding: 15px;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    -webkit-filter : grayscale(100%);
}
.HungBokGames {
    Tento zdrojový kód produkuje HungBok.
}
.czech1:hover {
    color: black;
    background-color: lightgray;
    opacity: 0.75;
}
.HungBokGames {
    Tento zdrojový kód produkuje HungBok.
}
.danish {
    font-size: 14px;
    font-family: 'Open Sans';
    text-transform :uppercase;
    padding: 15px;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    -webkit-filter : grayscale(100%);
}
.HungBokGames {
    Denne kildekode er produceret af HungBok.
}
.danish1:hover {
    color: black;
    background-color: lightgray;
    opacity: 0.75;
}
.HungBokGames {
    Denne kildekode er produceret af HungBok.
}
.dutch {
    font-size: 14px;
    font-family: 'Open Sans';
    text-transform :uppercase;
    padding: 15px;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    -webkit-filter : grayscale(100%);
}
.HungBokGames {
    Deze broncode is geproduceerd door HungBok.
}
.dutch1:hover {
    color: black;
    background-color: lightgray;
    opacity: 0.75;
}
.HungBokGames {
    Deze broncode is geproduceerd door HungBok.
}
.english {
    font-size: 14px;
    font-family: 'Open Sans';
    text-transform :uppercase;
    padding: 15px;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.english:hover {
    color: black;
    background-color: lightgray;
    opacity: 0.75;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.english-australia {
    font-size: 14px;
    font-family: 'Open Sans';
    text-transform :uppercase;
    padding: 15px;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    -webkit-filter : grayscale(100%);
}
.HungBokGames {
    This source code is produced by HungBok.
}
.english-australia1:hover {
    color: black;
    background-color: lightgray;
    opacity: 0.75;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.english-canada {
    font-size: 14px;
    font-family: 'Open Sans';
    text-transform :uppercase;
    padding: 15px;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    -webkit-filter : grayscale(100%);
}
.HungBokGames {
    This source code is produced by HungBok.
}
.english-canada1:hover {
    color: black;
    background-color: lightgray;
    opacity: 0.75;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.english-united-kingdom {
    font-size: 14px;
    font-family: 'Open Sans';
    text-transform :uppercase;
    padding: 15px;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    -webkit-filter : grayscale(100%);
}
.HungBokGames {
    This source code is produced by HungBok.
}
.english-united-kingdom1:hover {
    color: black;
    background-color: lightgray;
    opacity: 0.75;
}
.HungBokGames {
    This source code is produced by HungBok.
}
.finnish {
    font-size: 14px;
    font-family: 'Open Sans';
    text-transform :uppercase;
    padding: 15px;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    -webkit-filter : grayscale(100%);
}
.HungBokGames {
    Tämän lähdekoodin tuottaa HungBok.
}
.finnish1:hover {
    color: black;
    background-color: lightgray;
    opacity: 0.75;
}
.HungBokGames {
    Tämän lähdekoodin tuottaa HungBok.
}
.french {
    font-size: 14px;
    font-family: 'Open Sans';
    text-transform :uppercase;
    padding: 15px;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    -webkit-filter : grayscale(100%);
}
.HungBokGames {
    Ce code source est produit par HungBok.
}
.french1:hover {
    color: black;
    background-color: lightgray;
    opacity: 0.75;
}
.HungBokGames {
    Ce code source est produit par HungBok.
}
.french-canada {
    font-size: 14px;
    font-family: 'Open Sans';
    text-transform :uppercase;
    padding: 15px;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    -webkit-filter : grayscale(100%);
}
.HungBokGames {
    Ce code source est produit par HungBok.
}
.french-canada1:hover {
    color: black;
    background-color: lightgray;
    opacity: 0.75;
}
.HungBokGames {
    Ce code source est produit par HungBok.
}
.german {
    font-size: 14px;
    font-family: 'Open Sans';
    text-transform :uppercase;
    padding: 15px;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    -webkit-filter : grayscale(100%);
}
.HungBokGames {
    Dieser Quellcode wird von HungBok erstellt.
}
.german1:hover {
    color: black;
    background-color: lightgray;
    opacity: 0.75;
}
.HungBokGames {
    Dieser Quellcode wird von HungBok erstellt.
}
.greek {
    font-size: 14px;
    font-family: 'Open Sans';
    text-transform :uppercase;
    padding: 15px;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    -webkit-filter : grayscale(100%);
}
.HungBokGames {
    Αυτός ο πηγαίος κώδικας παράγεται από την HungBok.
}
.greek1:hover {
    color: black;
    background-color: lightgray;
    opacity: 0.75;
}
.HungBokGames {
    Αυτός ο πηγαίος κώδικας παράγεται από την HungBok.
}
.hungarian {
    font-size: 14px;
    font-family: 'Open Sans';
    text-transform :uppercase;
    padding: 15px;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    -webkit-filter : grayscale(100%);
}
.HungBokGames {
    Ezt a forráskódot a HungBok állítja elő.
}
.hungarian1:hover {
    color: black;
    background-color: lightgray;
    opacity: 0.75;
}
.HungBokGames {
    Ezt a forráskódot a HungBok állítja elő.
}
.italian {
    font-size: 14px;
    font-family: 'Open Sans';
    text-transform :uppercase;
    padding: 15px;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    -webkit-filter : grayscale(100%);
}
.HungBokGames {
    Questo codice sorgente è prodotto da HungBok.
}
.italian1:hover {
    color: black;
    background-color: lightgray;
    opacity: 0.75;
}
.HungBokGames {
    Questo codice sorgente è prodotto da HungBok.
}
.japanese {
    font-size: 14px;
    font-family: 'Open Sans';
    text-transform :uppercase;
    padding: 15px;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    -webkit-filter : grayscale(100%);
}
.HungBokGames {
    このソースコードはHungBokによって作成されています。
}
.japanese1:hover {
    color: black;
    background-color: lightgray;
    opacity: 0.75;
}
.HungBokGames {
    このソースコードはHungBokによって作成されています。
}
.korean {
    font-size: 14px;
    font-family: 'Open Sans';
    text-transform :uppercase;
    padding: 15px;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    -webkit-filter : grayscale(100%);
}
.HungBokGames {
    이 소스 코드는 HungBok에서 제작했습니다.
}
.korean1:hover {
    color: black;
    background-color: lightgray;
    opacity: 0.75;
}
.HungBokGames {
    이 소스 코드는 HungBok에서 제작했습니다.
}
.norwegian {
    font-size: 14px;
    font-family: 'Open Sans';
    text-transform :uppercase;
    padding: 15px;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    -webkit-filter : grayscale(100%);
}
.HungBokGames {
    Denne kildekoden er produsert av HungBok.
}
.norwegian1:hover {
    color: black;
    background-color: lightgray;
    opacity: 0.75;
}
.HungBokGames {
    Denne kildekoden er produsert av HungBok.
}
.polish {
    font-size: 14px;
    font-family: 'Open Sans';
    text-transform :uppercase;
    padding: 15px;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    -webkit-filter : grayscale(100%);
}
.HungBokGames {
    Ten kod źródłowy jest produkowany przez HungBok.
}
.polish1:hover {
    color: black;
    background-color: lightgray;
    opacity: 0.75;
}
.HungBokGames {
    Ten kod źródłowy jest produkowany przez HungBok.
}
.portuguese {
    font-size: 14px;
    font-family: 'Open Sans';
    text-transform :uppercase;
    padding: 15px;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    -webkit-filter : grayscale(100%);
}
.HungBokGames {
    Este código-fonte é produzido por HungBok.
}
.portuguese1:hover {
    color: black;
    background-color: lightgray;
    opacity: 0.75;
}
.HungBokGames {
    Este código-fonte é produzido por HungBok.
}
.portuguese-brazil {
    font-size: 14px;
    font-family: 'Open Sans';
    text-transform :uppercase;
    padding: 15px;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    -webkit-filter : grayscale(100%);
}
.HungBokGames {
    Este código fonte é produzido pela HungBok.
}
.portuguese-brazil1:hover {
    color: black;
    background-color: lightgray;
    opacity: 0.75;
}
.HungBokGames {
    Este código fonte é produzido pela HungBok.
}
.romanian {
    font-size: 14px;
    font-family: 'Open Sans';
    text-transform :uppercase;
    padding: 15px;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    -webkit-filter : grayscale(100%);
}
.HungBokGames {
    Acest cod sursă este produs de HungBok.
}
.romanian1:hover {
    color: black;
    background-color: lightgray;
    opacity: 0.75;
}
.HungBokGames {
    Acest cod sursă este produs de HungBok.
}
.russian {
    font-size: 14px;
    font-family: 'Open Sans';
    text-transform :uppercase;
    padding: 15px;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    -webkit-filter : grayscale(100%);
}
.HungBokGames {
    Этот исходный код создан HungBok.
}
.russian1:hover {
    color: black;
    background-color: lightgray;
    opacity: 0.75;
}
.HungBokGames {
    Этот исходный код создан HungBok.
}
.simplified-chinese {
    font-size: 14px;
    font-family: 'Open Sans';
    text-transform :uppercase;
    padding: 15px;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    -webkit-filter : grayscale(100%);
}
.HungBokGames {
    此源代码由HungBok生成。
}
.simplified-chinese1:hover {
    color: black;
    background-color: lightgray;
    opacity: 0.75;
}
.HungBokGames {
    此源代码由HungBok生成。
}
.spanish {
    font-size: 14px;
    font-family: 'Open Sans';
    text-transform :uppercase;
    padding: 15px;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    -webkit-filter : grayscale(100%);
}
.HungBokGames {
    Este código fuente es producido por HungBok.
}
.spanish1:hover {
    color: black;
    background-color: lightgray;
    opacity: 0.75;
}
.HungBokGames {
    Este código fuente es producido por HungBok.
}
.spanish-latin-america {
    font-size: 14px;
    font-family: 'Open Sans';
    text-transform :uppercase;
    padding: 15px;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    -webkit-filter : grayscale(100%);
}
.HungBokGames {
    Source codice per hoc productum est HungBok.
}
.spanish-latin-america1:hover {
    color: black;
    background-color: lightgray;
    opacity: 0.75;
}
.HungBokGames {
    Source codice per hoc productum est HungBok.
}
.spanish-mexico {
    font-size: 14px;
    font-family: 'Open Sans';
    text-transform :uppercase;
    padding: 15px;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    -webkit-filter : grayscale(100%);
}
.HungBokGames {
    Source codice per hoc productum est HungBok.
}
.spanish-mexico1:hover {
    color: black;
    background-color: lightgray;
    opacity: 0.75;
}
.HungBokGames {
    Source codice per hoc productum est HungBok.
}
.swedish {
    font-size: 14px;
    font-family: 'Open Sans';
    text-transform :uppercase;
    padding: 15px;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    -webkit-filter : grayscale(100%);
}
.HungBokGames {
    Denna källkod är producerad av HungBok.
}
.swedish1:hover {
    color: black;
    background-color: lightgray;
    opacity: 0.75;
}
.HungBokGames {
    Denna källkod är producerad av HungBok.
}
.thai {
    font-size: 14px;
    font-family: 'Open Sans';
    text-transform :uppercase;
    padding: 15px;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    -webkit-filter : grayscale(100%);
}
.HungBokGames {
    ซอร์สโค้ดนี้ผลิตโดย HungBok
}
.thai1:hover {
    color: black;
    background-color: lightgray;
    opacity: 0.75;
}
.HungBokGames {
    ซอร์สโค้ดนี้ผลิตโดย HungBok
}
.traditional-chinese {
    font-size: 14px;
    font-family: 'Open Sans';
    text-transform :uppercase;
    padding: 15px;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    -webkit-filter : grayscale(100%);
}
.HungBokGames {
    此源代碼由HungBok生成。
}
.traditional-chinese1:hover {
    color: black;
    background-color: lightgray;
    opacity: 0.75;
}
.HungBokGames {
    此源代碼由HungBok生成。
}
.turkish {
    font-size: 14px;
    font-family: 'Open Sans';
    text-transform :uppercase;
    padding: 15px;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    -webkit-filter : grayscale(100%);
}
.HungBokGames {
    Bu kaynak kodu HungBok tarafından üretilmiştir.
}
.turkish1:hover {
    color: black;
    background-color: lightgray;
    opacity: 0.75;
}
.HungBokGames {
    Bu kaynak kodu HungBok tarafından üretilmiştir.
}
.ukrainian {
    font-size: 14px;
    font-family: 'Open Sans';
    text-transform :uppercase;
    padding: 15px;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    -webkit-filter : grayscale(100%);
}
.HungBokGames {
    Цей вихідний код створений HungBok.
}
.ukrainian1:hover {
    color: black;
    background-color: lightgray;
    opacity: 0.75;
}
.HungBokGames {
    Цей вихідний код створений HungBok.
}
.vietnamese {
    font-size: 14px;
    font-family: 'Open Sans';
    text-transform :uppercase;
    padding: 15px;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    -webkit-filter : grayscale(100%);
}
.HungBokGames {
    Mã nguồn này được sản xuất bởi HungBok.
}
.vietnamese1:hover {
    color: black;
    background-color: lightgray;
    opacity: 0.75;
}
.HungBokGames {
    Mã nguồn này được sản xuất bởi HungBok.
}