.game-card-platform-win {
    opacity: 0.2;
    position: relative;
    width: 20px;
	height: 20px;
	background-image: url(../platform/individual/small-square/Win.png);
	background-size: cover;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
    max-width: 100%;
    display: inline-block;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-drag: none;
}
.game-card-platform-android {
    opacity: 0.2;
    position: relative;
    width: 20px;
	height: 20px;
	background-image: url(../platform/individual/small-square/Android.png);
	background-size: cover;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
    max-width: 100%;
    display: inline-block;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-drag: none;
}
.game-card-platform-ios {
    opacity: 0.2;
    position: relative;
    width: 20px;
	height: 20px;
	background-image: url(../platform/individual/small-square/ios.png);
	background-size: cover;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
    max-width: 100%;
    display: inline-block;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-drag: none;
}
.game-card-platform-lin {
    opacity: 0.2;
    position: relative;
    width: 20px;
	height: 20px;
	background-image: url(../platform/individual/small-square/lin.png);
	background-size: cover;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
    max-width: 100%;
    display: inline-block;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-drag: none;
}
.game-card-platform-mac {
    opacity: 0.2;
    position: relative;
    width: 20px;
	height: 20px;
	background-image: url(../platform/individual/small-square/Mac.png);
	background-size: cover;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
    max-width: 100%;
    display: inline-block;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-drag: none;
}
.game-card-platform-pc {
    opacity: 0.2;
    position: relative;
    width: 20px;
	height: 20px;
	background-image: url(../platform/individual/small-square/pc.png);
	background-size: cover;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
    max-width: 100%;
    display: inline-block;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-drag: none;
}
.game-card-platform-ps3 {
    opacity: 0.2;
    position: relative;
    width: 20px;
	height: 20px;
	background-image: url(../platform/individual/small-square/ps3.png);
	background-size: cover;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
    max-width: 100%;
    display: inline-block;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-drag: none;
}
.game-card-platform-ps {
    opacity: 0.2;
    position: relative;
    width: 20px;
	height: 20px;
	background-image: url(../platform/individual/small-square/ps.png);
	background-size: cover;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
    max-width: 100%;
    display: inline-block;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-drag: none;
}
.game-card-platform-xb {
    opacity: 0.2;
    position: relative;
    width: 20px;
	height: 20px;
	background-image: url(../platform/individual/small-square/XB.png);
	background-size: cover;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
    max-width: 100%;
    display: inline-block;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-drag: none;
}
.game-card-platform-web {
    opacity: 0.2;
    position: relative;
    width: 20px;
	height: 20px;
	background-image: url(../platform/individual/small-square/Web.png);
	background-size: cover;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
    max-width: 100%;
    display: inline-block;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-drag: none;
}
.game-card-platform-ns {
    opacity: 0.2;
    position: relative;
    width: 20px;
	height: 20px;
	background-image: url(../platform/individual/small-square/NS.png);
	background-size: cover;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
    max-width: 100%;
    display: inline-block;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-drag: none;
}
.game-card-platform-ps4 {
    opacity: 0.2;
    position: relative;
    width: 20px;
	height: 20px;
	background-image: url(../platform/individual/small-square/PS4.png);
	background-size: cover;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
    max-width: 100%;
    display: inline-block;
    border-radius: 5px 5px 5px 5px;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-drag: none;
}
.game-card-platform-ps5 {
    opacity: 0.2;
    position: relative;
    width: 20px;
	height: 20px;
	background-image: url(../platform/individual/small-square/PS5.png);
	background-size: cover;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
    max-width: 100%;
    display: inline-block;
    border-radius: 5px 5px 5px 5px;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-drag: none;
}
.game-card-platform-xbo {
    opacity: 0.2;
    position: relative;
    width: 20px;
	height: 20px;
	background-image: url(../platform/individual/small-square/XBO.png);
	background-size: cover;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
    max-width: 100%;
    display: inline-block;
    border-radius: 5px 5px 5px 5px;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-drag: none;
}
.game-card-platform-xsx {
    opacity: 0.2;
    position: relative;
    width: 20px;
	height: 20px;
	background-image: url(../platform/individual/small-square/XSX.png);
	background-size: cover;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
    max-width: 100%;
    display: inline-block;
    border-radius: 5px 5px 5px 5px;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-drag: none;
}
.game-card-platform-stadia {
    opacity: 0.2;
    position: relative;
    width: 20px;
	height: 20px;
	background-image: url(../platform/individual/small-square/Stadia.png);
	background-size: cover;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
    max-width: 100%;
    display: inline-block;
    border-radius: 5px 5px 5px 5px;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-user-drag: none;
}